In [238]:
#imort libraries
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity;

from numpy import dot
from numpy.linalg import norm
import pandas as pd
import sklearn as sk
import numpy as np
from numpy import dot
import re

from nltk.tokenize import word_tokenize
import string
import sys
import gc

In [239]:
#the function define for read text files
def read_text_doc(text_document): 
    text_data =  open(text_document).read()
    return text_data

In [240]:
#get the text file data
Doc01=read_text_doc("doc 1.txt")
Doc02=read_text_doc("doc 2.txt")
Doc03=read_text_doc("doc 3.txt")
Doc04=read_text_doc("doc 4.txt")
Doc05=read_text_doc("doc 5.txt")
Doc06=read_text_doc("doc 6.txt")
Doc07=read_text_doc("doc 7.txt")
Doc08=read_text_doc("doc 8.txt")

In [241]:
#create a single text data file
All_Doc=[Doc01,Doc02,Doc03,Doc04,Doc05,Doc06,Doc07,Doc08]

In [242]:
#TF-IDF vector 
TF_DF_vector=TfidfVectorizer();
#TF-IDF values is found for all text
TF_DF_vector_Tansform= TF_DF_vector.fit_transform(All_Doc, y=None);
# cosine similarity matrix
Cos_sim_matrix = cosine_similarity(TF_DF_vector_Tansform);
print(Cos_sim_matrix);

[[1.         0.54082435 0.42279101 0.56849572 0.50821448 0.48433927
  0.5472568  0.59938462]
 [0.54082435 1.         0.68250002 0.61184088 0.53099415 0.53330571
  0.84194483 0.50997942]
 [0.42279101 0.68250002 1.         0.4670546  0.40854181 0.41944037
  0.65355313 0.3833241 ]
 [0.56849572 0.61184088 0.4670546  1.         0.74806744 0.7313034
  0.61104358 0.54061195]
 [0.50821448 0.53099415 0.40854181 0.74806744 1.         0.55023635
  0.53310933 0.45222212]
 [0.48433927 0.53330571 0.41944037 0.7313034  0.55023635 1.
  0.52849343 0.46656382]
 [0.5472568  0.84194483 0.65355313 0.61104358 0.53310933 0.52849343
  1.         0.51410949]
 [0.59938462 0.50997942 0.3833241  0.54061195 0.45222212 0.46656382
  0.51410949 1.        ]]

In [243]:
#cosine similarity matrix with in data fram
cos_simM=pd.DataFrame(cosine_similarity(TF_DF_vector_Tansform,TF_DF_vector_Tansform))
cos_simM

,0,1,2,3,4,5,6,7
0,1.000000,0.540824,0.422791,0.568496,0.508214,0.484339,0.547257,0.599385
1,0.540824,1.000000,0.682500,0.611841,0.530994,0.533306,0.841945,0.509979
2,0.422791,0.682500,1.000000,0.467055,0.408542,0.419440,0.653553,0.383324
3,0.568496,0.611841,0.467055,1.000000,0.748067,0.731303,0.611044,0.540612
4,0.508214,0.530994,0.408542,0.748067,1.000000,0.550236,0.533109,0.452222
5,0.484339,0.533306,0.419440,0.731303,0.550236,1.000000,0.528493,0.466564
6,0.547257,0.841945,0.653553,0.611044,0.533109,0.528493,1.000000,0.514109
7,0.599385,0.509979,0.383324,0.540612,0.452222,0.466564,0.514109,1.000000

In [244]:
print(TF_DF_vector_Tansform)

  (0, 931)	0.027662736706493843
  (0, 839)	0.023183532292242934
  (0, 1404)	0.023183532292242934
  (0, 831)	0.055325473412987686
  (0, 1383)	0.027662736706493843
  (0, 853)	0.02764673457069204
  (0, 1256)	0.012348235661627424
  (0, 201)	0.027662736706493843
  (0, 1355)	0.02000548618406063
  (0, 145)	0.02000548618406063
  (0, 960)	0.027662736706493843
  (0, 1202)	0.027662736706493843
  (0, 480)	0.027662736706493843
  (0, 324)	0.055325473412987686
  (0, 1384)	0.027662736706493843
  (0, 635)	0.027662736706493843
  (0, 1393)	0.027662736706493843
  (0, 112)	0.027662736706493843
  (0, 306)	0.027662736706493843
  (0, 1061)	0.027662736706493843
  (0, 414)	0.027662736706493843
  (0, 1060)	0.027662736706493843
  (0, 576)	0.027662736706493843
  (0, 929)	0.023183532292242934
  (0, 19)	0.02000548618406063
  :	:
  (7, 334)	0.05035481933727337
  (7, 1175)	0.025177409668636686
  (7, 1041)	0.20141927734909348
  (7, 150)	0.013410233782264778
  (7, 1074)	0.09597736486948943
  (7, 884)	0.07553222900591006
  (7, 773)	0.025177409668636686
  (7, 501)	0.07553222900591006
  (7, 460)	0.07553222900591006
  (7, 85)	0.07553222900591006
  (7, 1272)	0.016861604686529214
  (7, 483)	0.060048930724786544
  (7, 502)	0.04798868243474472
  (7, 1251)	0.49188399495613333
  (7, 636)	0.20395190034766505
  (7, 883)	0.05035481933727337
  (7, 770)	0.20141927734909348
  (7, 108)	0.04023070134679434
  (7, 87)	0.20395190034766505
  (7, 1235)	0.05035481933727337
  (7, 1275)	0.19195472973897887
  (7, 1314)	0.02399434121737236
  (7, 722)	0.025177409668636686
  (7, 877)	0.059985853043430896
  (7, 871)	0.17995755913029268

In [275]:
def Identify_doc_topic(Topicname):
    Topic_trans = str.maketrans(string.punctuation+string.ascii_uppercase,
                                " "*len(string.punctuation)+string.ascii_lowercase)
      
    Topicname = Topicname.translate(Topic_trans)
    Topicname=Topicname.split()
    #Topicname = Topicname[int('1')]
    limit=len(Topicname)-1



    ST = pd.DataFrame([TF_IDF[Topicname[0]], TF_IDF[Topicname[1]], TF_IDF[Topicname[2]], TF_IDF[Topicname[3]]
                              + TF_IDF[Topicname[3-1]] + TF_IDF[Topicname[3]]]
                             ,index=[Topicname[0], Topicname[1], Topicname[2], Topicname[0] +Topicname[1] +Topicname[2]]).T
    ST = ST[ST[Topicname[0]+ Topicname[1]+ Topicname[2]] > 0]
    ST = ST[ST[Topicname[0]] > 0]
    ST
    output = ST.sort_values([Topicname[0]+ Topicname[1]+ Topicname[2]], ascending=[True])
    return output

In [276]:
topic01='Hurricane Gilbert Heads Toward Dominican Coast'
Identify_doc_topic(topic01)

   hurricane   gilbert     heads  hurricanegilbertheads
1   0.222747  0.102806  0.019856               0.019856
6   0.251965  0.096910  0.022461               0.022461
2   0.210657  0.175548  0.000000               0.097096

The document 2, 3,7 are related to the 
topic of "Hurricane Gilbert Heads Toward Dominican Coast"

In [287]:
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.porter import PorterStemmer
stemmer = SnowballStemmer("english")

f=TfidfVectorizer();
def boring_tokenizer(input_word):
    term = re.sub(r"[^A-Za-z0-9\-]", " ", input_word).lower().split()
    return term

def find_topic_in_doc(topic_name,n):
    count_vectorizer = CountVectorizer(stop_words='english', tokenizer=boring_tokenizer)
    X = count_vectorizer.fit_transform(topic_name)
    Topicname=count_vectorizer.get_feature_names()
    N=len(Topicname) 
     
    best_word = Topicname[n].split()
    count = TF_DF_vector.vocabulary_[Topicname[n]]
    
    idf_df = np.transpose(TF_DF_vector_Tansform[:,count])
    print('The no of words in topic',N)
    print("The considering word in topic",best_word)
    print('TF-IDF values for the best identifying word \n', np.transpose(TF_DF_vector_Tansform[:,count]))
    
    

topic01=['Hurricane Gilbert Heads Toward Dominican Coast']
topic02= ["McDonald's Opens First Restaurant in China"]
topic03=['ira terrorist attack']

In [288]:
find_topic_in_doc(topic01,0)

The no of words in topic 5
The considering word in topic ['coast']
TF-IDF values for the best identifying word
 [[0.         0.05140311 0.17554786 0.         0.         0.
  0.07752765 0.        ]]

In [289]:
find_topic_in_doc(topic01,1)

The no of words in topic 5
The considering word in topic ['dominican']
TF-IDF values for the best identifying word
 [[0.         0.08567184 0.03510957 0.         0.         0.
  0.03876382 0.        ]]

In [290]:
find_topic_in_doc(topic01,2)

The no of words in topic 5
The considering word in topic ['gilbert']
TF-IDF values for the best identifying word
 [[0.         0.10280621 0.17554786 0.         0.         0.
  0.09690956 0.        ]]

In [291]:
find_topic_in_doc(topic01,3)

The no of words in topic 5
The considering word in topic ['heads']
TF-IDF values for the best identifying word
 [[0.         0.01985631 0.         0.         0.         0.
  0.0224609  0.        ]]

In [292]:
find_topic_in_doc(topic03,0)

The no of words in topic 3
The considering word in topic ['attack']
TF-IDF values for the best identifying word
 [[0.         0.         0.         0.07037692 0.         0.03123956
  0.         0.02172604]]

In [293]:
find_topic_in_doc(topic03,1)

The no of words in topic 3
The considering word in topic ['ira']
TF-IDF values for the best identifying word
 [[0.         0.         0.         0.16311382 0.         0.07240448
  0.         0.        ]]

In [294]:
find_topic_in_doc(topic02,3)

The no of words in topic 5
The considering word in topic ['restaurant']
TF-IDF values for the best identifying word
 [[0.09273413 0.         0.         0.         0.         0.
  0.         0.20141928]]

In [295]:
find_topic_in_doc(topic02,1)

The no of words in topic 5
The considering word in topic ['mcdonald']
TF-IDF values for the best identifying word
 [[0.23183532 0.         0.         0.         0.         0.
  0.         0.20141928]]

In [274]:
gc.collect();